button {
  margin: 10px 20px;
}

.selector-buttons {
  margin-right: 50px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-inputs {
  display: flex;
  flex-direction: row;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img {
  height: 50px;
  width: 50px;
}

.table-container {
  width: 100vw;
}